
* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

#container {
	position: relative;
}

header {
	padding: 20px 0;
	background-color: #fff;
	display: flex;
	justify-content: center;
}

.in-header-div {
	flex: 1;
	max-width: 1220px;
}

.arrow-down {
	margin-left: 20px;
}

.arrow-up {
	margin-right: 20px;
}

h2 {
	text-align: center;
}

#select-view {
	width: 80%;
	padding: 10px;
	display: block;
	margin: 0 auto;
}

#select-view:focus {
	outline: none;
	border: 1px solid rgb(62, 5, 168);
}

#gallery {
	max-width: 1220px;
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image-container {
	display: inline-block;
	max-width: 100%;
}

.image-container img {
	width: 100%;
	height: auto;
}

@media screen and (min-width: 700px) {
	#gallery {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.image-container {
		margin: 10px 0;
	}

	.image-container img {
		height: 200px;
		width: auto;
	}

	#larger-img {
		position: fixed;
		display: block;
		top: 50%;  
		left: 50%;  
		transform: translate(-50%, -50%);
	}

	#larger-img img {
		border: 2px solid black;
		max-width: 100%;
	}

	#close-image {
		position: absolute;
		top: -15px;
		right: -15px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: 1px solid black;
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.sticky {
	position: sticky;
	top: 0;
}